@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-gray-700;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  /* 压缩后的字体 */
  src: url('/fonts/Pacifico-Regular.woff2');
}
