@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40%/70% 30%;
  }

  to {
    border-radius: 40% 65%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.circle-1,
.circle-2 {
  display: block;
  position: fixed;
  content: '';
  pointer-events: none;
  will-change: border-radius, transform;
  box-shadow: 0 0 10px 0 rgba(#333, 0.2);
}

.circle-1 {
  width: 70vmax;
  height: 70vmax;
  left: -20vmin;
  top: -20vmin;
  transform-origin: 55% 55%;
  background: linear-gradient(to bottom, #facce2, #f784bd);
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
}

.circle-2 {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  transform-origin: 25% 55%;
  background: linear-gradient(to right, #f7a8d0, #f86cb2);
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
}
